@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

:root {
    --color-primary: #f0f0f4;
    --color-primary: #c5c5c5;
    --color-secondary: #0a0a0a;
    --color-tertiary: #272727;

    --max-width: 450px;
    --min-width: 150px;

    --card-margin: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;

    font-family: 'Poppins', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: .9rem;
    color: var(--color-primary);
    background-color: var(--color-secondary);
    /* cursor: none; */
}
a {
    text-decoration: none;
    color: var(--color-primary);
}

h5 {
    font-weight: 400;
    font-size: .7rem ;
    padding-top: 30px;
}

hr {
    margin: 10px 0;
    border-radius: 10px;
    height: 1px;
    border-color: var(--color-primary) ;
}

#header {
    display: flex;
    align-items: center;
}

.header-text {
    font-size: .9rem;
    font-weight: 300;
    margin: 0 1rem;
}

.user-profile {
    width: 50px;
    height: 50px;
    /* background-image: url('/images/R.png'); */
    background-image: url('reybalolot.com/images/R.png');
    background-position: center;
    background-size: cover;
    border-radius: 10%;
    border: 2px solid var(--color-tertiary);
}

.card {
    padding: 10px;
    margin-top: var(--card-margin);
    border-radius: 10px;
    border: 1px solid var(--color-tertiary);
    transition: border 1s;
}


img:not(.logo img) {
    min-width: var(--min-width);
    max-width: var(--max-width);
    border-radius: 5px;
}

.project-heading {
    display: flex;
    padding: 0 3px;
    align-items: center;
    justify-content: space-between;
}
.project-heading i {
    margin: 0 3px;
}

.name {
    display: flex;
    align-items: center;
}
.project-link {
    padding: 5px 0;
    display: flex;
    flex-direction: row;
}

.project-link div {
    margin-right: 5px;
    padding: 0 3px;
    border-radius: 5px;
    border: 1px solid var(--color-tertiary) ;
}
.project-link i {
    margin-right: 3px;
}
.project-link a {
    color: #777777;
    margin: 0 3px;
}
.project-description {
    font-size: .7rem;
    color: #777777;

    display: flex;
    flex-direction: column;
    height: 0;
    min-width: var(--min-width);
    max-width: var(--max-width);
    overflow-y: hidden;
    transition: height .2s cubic-bezier(0,.2,1,.14);
    transition-delay: 2s;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.technologies .card,
.contact > .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .7rem;
    color: #777777;
}

.contact > .card:last-child {
    margin-top: 40px;
}
.contact > .card:nth-child(1),
.contact > .card:nth-child(2),
.contact > .card:nth-child(3) {
    margin: 5px 0;
}


.label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 10px;

}

.fa-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    font-family: 'Damion';
    font-size: 1.5rem;
}
.logo img {
    max-width: 40px;
}
footer {
    font-size: .7rem;
}

.nav {
    display: flex;
    justify-content: center;
    font-family: 'Damion';
    color: var(--color-secondary);
}

.cursor {
    top: calc(inherit);
    left: calc(inherit);
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition: 90ms ease-out;
}
.cursor-green {
    background-color: green;
    border-color: transparent;
    transition: background-color 1s;
}

.card:hover {
    transition: border-color .3s ease-in;
    color: var(--color-primary);
    border-color:  var(--color-primary);

    .project-description {
        height: 5rem;
        transition: height .3s cubic-bezier(0,.46,.95,1.1);
    }
    .project-description:hover {
        color: var(--color-primary);
    }
    .project-link a:hover {
        color: var(--color-primary);
    }
}

.animation-0 {
    /* animation: autoShowAnimation .6s cubic-bezier(.68,.25,.53,.64); */
    animation: autoShowAnimation .6s cubic-bezier(0,.46,.95,1.1);;
}
.animation-1 {
    animation: autoShowAnimation .8s cubic-bezier(0,.46,.95,1.1);;
}
.animation-2 {
    animation: autoShowAnimation 1s cubic-bezier(0,.46,.95,1.1);;
}
.animation-3 {
    animation: autoShowAnimation 1.2s cubic-bezier(0,.46,.95,1.1);;
}
.animation-4 {
    animation: autoShowAnimation 1.4s cubic-bezier(0,.46,.95,1.1);;
}

@keyframes autoShowAnimation {
    from {
        opacity: 0;
        transform: translateY(200px) scale(.8);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@media screen and (max-width: 490px) {
    :root {
        --max-width: 300px;
        --min-width: 200px;
    }
}
